{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!--h1>Hi, {{ current_user.username }}!</h1-->
	<div id="title">
        <form>
            <input id="searchBox" type="text" name="searchQuery">
            <input id="searchButton" type="submit" value="Search">
        </form>
    
        <div id="kart">
            <a class="link" href="/cart">
                <img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
                CART {{noOfItems}}
            </a>
        </div>
        
        </div>
    </div>
    {% for item in itemData %}
        {% include 'productDescription.html' %}
    {% endfor %}

{% endblock %}